@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background) url('/closeup.png') no-repeat center center fixed;
  background-size: cover;
  color: var(--foreground);
  background: var(--background);
}
